.container {
      width: 600px;
      height: 300px;
      background-color: black;
      display: grid;
}

.item {
      width: 100px;
      height: 50px;
      background-color: palevioletred;
      border: 2px solid goldenrod
      ;
}