/* *{
      text-align: center;
}

div{
      height: 100px;
      width: 500px;
      border: 1px solid rgb(0, 0, 0);
      margin: auto;
}

.box { 
      height: 100px;
      width: 100px;
      background-color: pink;
      border: 1px wavy black;
}
 */

div {
      background-color: pink;
      height: 200px;
      width: 400px;
}

ul {
      background-color: blue;
}

li {
      background-color: yellow;
}