body {
      text-align: center;
}

.btn {
      height: 200px;
      width: 200px;
      border-radius: 20%;
      border: 10px solid black;
      margin: 2rem;
}

.btn-container {
      display: flex;
      justify-content: center;
}

.colour1 {
      background-color: rgb(174, 114, 230);
}

.colour2 {
      background-color: rgb(81, 220, 120);
}

.colour3 {
      background-color: rgb(103, 171, 216);
}

.colour4 {
      background-color: rgb(246, 106, 106);
}

.flash {
      background-color: white;
}

.userFlash {
      background-color: red;
}