<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>EJS Home Page</title>
</head>
<body>
      <h1>This is hoome page</h1>
      <h3><%=  "radhika".toUpperCase()  %></h3> 
      <!-- <%= %> ejs format to output html like 7*8, [1,2,3][1], "radhika".toUpperCase() -->
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, iste. Hic, veritatis cumque voluptatum voluptates non delectus incidunt accusamus? Non aspernatur quia culpa quos fuga quo ut provident amet tenetur!</p>
</body>
</html>